
@font-face {
	font-family: 'icomoon';
	font-display: swap;
	src:
		url('..//..//fonts/icomoon.ttf?qxn6mw') format('truetype'),
		url('..//..//fonts/icomoon.woff?qxn6mw') format('woff'),
		url('..//..//fonts/icomoon.svg?qxn6mw#icomoon') format('svg');
	font-weight: normal;
	font-style: normal;
	font-display: block;
}

[class^="icon-"], [class*=" icon-"] {
	/* use !important to prevent issues with browser extensions that change fonts */
	font-family: 'icomoon' !important;
	speak: never;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 1;
	/* Better Font Rendering =========== */
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

.icon-fb:before {
	content: "\e900";
}
.icon-insta:before {
	content: "\e901";
}
.icon-linkedin:before {
	content: "\e902";
}
.icon-twitter:before {
	content: "\e903";
}