//<МИКСИНЫ>===============================================================================================
@import "_mixins.scss";
//</МИКСИНЫ>===============================================================================================

//<ШРИФТЫ>===============================================================================================

//<Подключаем шрифты>=======================================================================================
@import url('https://fonts.googleapis.com/css2?family=Heebo:wght@400;500;700;900&display=swap');
//</Подключаем шрифты>=======================================================================================

//<Иконочные шрифты>==========================================================================================

//</Иконочные шрифты>==========================================================================================

//<Шрифт по умолчанию>==========================================================================================
$fontfamily: 'Heebo', sans-serif;
//</Шрифт по умолчанию>==========================================================================================

//</ШРИФТЫ>=======================================================================================================

//<ПЕРЕМЕННЫЕ>===========================================================================================================
$minwidth: 320px;
$mw: 856;
$md1: $mw + 12;
$md2: 991.98;
$md3: 767.98;
$md4: 479.98;
//</ПЕРЕМЕННЫЕ>===========================================================================================================

//<ОБНУЛЕНИЕ, ОБЩИЕ ПАРАМЕТРЫ>===============================================================================================
@import "_null.scss";
body {
	color: #000;
	font-size: 14px;
	&.lock {
		overflow: hidden;
	}
}
//</ОБНУЛЕНИЕ, ОБЩИЕ ПАРАМЕТРЫ>===============================================================================================

//<ОБОЛОЧКА>===========================================================================================================
.wrapper {
	width: 100%;
	min-height: 100%;
	overflow: hidden;
	&.loaded {
	}
}
//</ОБОЛОЧКА>===========================================================================================================

//<ОСНОВНАЯ СЕТКА>===========================================================================================================
.container {
	max-width: $mw + px;
	margin: 0 auto;
	width: 100%;
	@media (max-width: $md1+px) {
		max-width: 750px;
	}
	@media (max-width: $md2+px) {
		max-width: none;
		padding: 0 10px;
	}
}
//</ОСНОВНАЯ СЕТКА>===========================================================================================================

//<ПОДКЛЮЧЕНИЕ ФАЙЛОВ UI СТИЛЕЙ, ФОРМ И ГОТОВЫХ КЛАССОВ>====================================================================================================
@import "_forms.scss";
@import "_ui.scss";
//</ПОДКЛЮЧЕНИЕ ФАЙЛОВ UI СТИЛЕЙ, ФОРМ И ГОТОВЫХ КЛАССОВ>====================================================================================================

//<ПОДКЛЮЧЕНИЕ ФАЙЛОВ СТИЛЕЙ СТРАНИЦ И ЭЛЕМЕНТОВ>====================================================================================================
//@import "../../js/fancybox/jquery.fancybox.scss";
//@import "_datepicker.scss";
//@import "_fontawesome.scss";
//@import "_popover.min.scss";
//@import "_baguetteBox.scss";
//@import "_pagging.scss";
@import "_icons.scss";
//@import "_popup.scss";
@import "_header.scss";
//@import "_footer.scss";
//@import "_home.scss";
//</ПОДКЛЮЧЕНИЕ ФАЙЛОВ СТИЛЕЙ СТРАНИЦ И ЭЛЕМЕНТОВ>====================================================================================================

//<ОСНОВНОЙ БЛОК>====================================================================================================


//<Card>
.card {
	
	max-height: 505px;

	&__row {
		display: flex;
		justify-content: space-between;
		padding-bottom: 71px;
		padding-top: 140px;
	}
	&__content {
		max-width: 500px;
	}

	&__title {
		font-weight: 700;
		line-height: 60px;
		font-size: 44px;
		color: #21243D;
		max-width: 435px;
		margin: 30px 0 40px 0;
	}

	&__text {
		color: #21243D;
		font-weight: 400;
		font-size: 16px;
		line-height: 23.5px;
		margin-bottom: 40px;
	}

	&__button {
		background-color: #FF6464;
		display: block;
		width: 208px;
		height: 47px;
		text-align: center;
		line-height: 47px;
		font-weight: 500;
		font-size: 20px;
		color: #ffffff;
	}

	&__foto {
	}
}

//</Card>



//====================================================================================================

//</ОСНОВНОЙ БЛОК>====================================================================================================
